/**, html, body {*/
/*    font-family: 'Nunito', sans-serif !important;*/
/*}*/

.bg-seashell {
    background: linear-gradient(to left, #fff, #FFF5EE) !important;
}
.bg-seashell-flip {
    background: linear-gradient(to right, #fff, #FFF5EE) !important;
}

.txt-green { color: #10c45c; }
.txt-blue { color: #307ad5; }
.txt-pink { color: #d94da6; }
.btn-blue { background: rgba(48, 122, 213, 1) !important; color: white !important; }
.btn-green { background: rgba(16, 196, 92, 1) !important; color: white !important; }
.btn-pink { background: rgba(217, 77, 166, 1) !important; color: white !important; }
.btn-blue:hover { background: rgba(48, 122, 213, 0.7) !important; color: white !important; }
.btn-green:hover { background: rgba(16, 196, 92, 0.7) !important; color: white !important; }
.btn-pink:hover { background: rgba(217, 77, 166, 0.7) !important; color: white !important; }
.btn-family {
    color: white;
    border-radius: 30px;
    transition: background 0.4s ease;
    padding: 10px 20px;
}


.bg-red {
    background: #78d0d9;
    /*background: linear-gradient(to right, #00CBD3, #02B7BE);*/
}
.bg-red-solid {
    background: #78d0d9;
    /*background: #00CBD3;*/
}
.text-red {
    color: #b4e5e8;
    /*color: #00CBD3;*/
}
.btn-danger, .btn-flip-danger:hover {
    background: #78d0d9 !important;
    /*background: #00CBD3 !important;*/
    border: none !important;
}
.btn-danger:hover, .btn-flip-danger {
    background: #53c4d1 !important;
    /*background: #00CBD3 !important;*/
}

.btn-logo-blue {
    background: #78d0d9 !important;
    /*background: #02B7BE !important;*/
    color: white !important;
}

.btn-outline-danger {
    border: 1px solid #b4e5e8 !important;
    /*border: 1px solid #00CBD3 !important;*/
    color: #b4e5e8 !important;
    /*color: #00CBD3 !important;*/
}

.btn-outline-danger:hover {
    background: #b4e5e8 !important;
    /*background: #00CBD3 !important;*/
    color: white !important;
}

.txt-featured {
    border: 1px solid #b4e5e8;
    /*border: 1px solid #00CBD3;*/
    color: #b4e5e8;
    /*color: #008CC0;*/
    padding: 0 14px;
    border-radius: 5px;
}

.txt-yellow {
    color: #fff;
}

.bg-blue {
    background: linear-gradient(to left, #fff, whitesmoke);
    color: black;
}

#happy-healthy-safe-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 850px;
    z-index: 3 !important;
}

#happy-healthy-safe-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*height: 1095px;*/
    z-index: 3 !important;
}

#badge-image {
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 1020px;
    z-index: 3 !important;
}

#parents-image {
    position: absolute;
    right: 14%;
    top: 50%;
    transform: translateY(-50%);
    height: 750px;
    /*height: 879px;*/
}

#cta-image {
    position: absolute;
    right: 0%;
    top: 40%;
    transform: translateY(-50%) scaleX(-1);
    height: 562px;
    z-index: 0;
}

#joy-image {
    position: absolute;
    right: 10%;
    /*right: 16%;*/
    bottom: 0;
    /*transform: translateY(-50%);*/
    height: 375px;
    z-index: 0;
}

#joy-mobile {
    position: absolute;
    right: -10%;
    bottom: 0;
    /*transform: translateX(-50%);*/
    height: 345px;
    z-index: 0;
}

#great-txt {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 62%;
    transform: translate(-50%, -50%);
    font-size: 5.5em;
    text-align: center;
    color: white;
    line-height: 0.75;
    font-weight: bold;
    text-shadow: 1px 2px 4px black;
}
#great-txt-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    text-align: center;
    color: white;
    line-height: 0.75;
    font-weight: bold;
}

#inputEmail {
    border-radius: 7px 0 0 7px;
    width: 100%;
}
#buttonSubmit {
    border-radius: 0px 7px 7px 0px;
    color: white;
}

.review-img {
    border: 3px solid #fff;
    border-radius: 50%;
    background: #fff;
    transform: scale(1.25);
}

.next-step {
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.25em;
    background: white;
}

#main-review-stars ion-icon {
    font-size: 1.5em;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    /*color: #00CBD3;*/
    color: #b4e5e8;
}

#review-stars ion-icon {
    font-size: 0.75em;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    color: #b4e5e8;
    /*color: #00CBD3;*/
}

#review-stars {
    font-size: 1.125em;
}

.partner-div img {
    opacity: 0.6;
    filter: grayscale(100%);
    transition: all 0.8s ease;
}
.partner-div img:hover {
    opacity: 1;
    filter: grayscale(0%);
}

#footer ion-icon {
    font-size: 1.5em;
}
#footer-list li,
#footer-list a {
    color: white !important;
    background: #212529 !important;
}

#brand img {
    max-height: 225px;
    height: auto;
    width: 100%;
    filter: grayscale(100%);
    opacity: 70%;
    transform: scale(0.75);
}
#brand img:hover {
    opacity: 100%;
}

/************************* ****** ***************************/
/************************* SUMMIT ***************************/
/************************* ****** ***************************/

body {
    overflow-x: hidden;
}

.btn-summit {
    max-width: 300px;
    max-height: 64px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid black;
    padding: 4px 0 0 0;
}

.btn-teal { background: #D6F2F0; }
/*.btn-teal:hover { background: #5ECCC5; }*/
.btn-teal:hover { background: #b4e5e8; }
.btn-purple { background: #772E93; color: #fff }
.btn-purple:hover { background: #5E196B; color: #fff }
.btn-white { background: #fff; }
.btn-white:hover { background: #d5d5d5; }

.txt-light-teal { color: #b4e5e8; }
/*.txt-light-teal { color: #D6F2F0; }*/
/*.txt-teal { color: #5ECCC5; }*/
.txt-teal { color: #b4e5e8; }
/*.txt-teal { color: #008CC0; }*/
.txt-dark-teal { color: #b4e5e8; }
/*.txt-dark-teal { color: #00B1A5; }*/

.txt-purple { color: #5E196B; }

.bg-purple { background: #5D1968; }
.bg-teal { background: #b4e5e8; }
/*.bg-teal { background: #5ECCC5; }*/
/*.bg-light-teal { background: #D6F2F0; }*/

.kit-links:hover { color: #b4e5e8; }
/*.kit-links:hover { color: #00B1A5; }*/

/*.font-staat { font-family: 'Staatliches', cursive; }*/
.font-staat { font-family: 'Montserrat', sans-serif; }
.font-syne { font-family: 'Inter', sans-serif; }
.font-dm { font-family: 'DM Serif Display', serif; }

#section-badge {
    background: url("/images-lava/happy-dancer.png");
    background-position: 95% 50%;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}

#section-badge:hover {
    background: url("/images-lava/happy-dancer-2.png");
    background-position: 95% 50%;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 200px solid #53c4d1;
    /*border-bottom: 200px solid #02B7BE;*/
    border-right: 200px solid transparent;
    position: absolute;
    bottom: 0;
    left: 12px;
    transition: all 0.8s ease;
}

#triangle-bottomleft-mobile {
    width: 0;
    height: 0;
    border-bottom: 140px solid #53c4d1;
    /*border-bottom: 140px solid #02B7BE;*/
    border-right: 140px solid transparent;
    position: absolute;
    bottom: 0;
    left: 12px;
    transition: all 0.8s ease;
}

#triangle-bottomleft-staff {
    width: 0;
    height: 0;
    border-bottom: 200px solid #53c4d1;
    /*border-bottom: 200px solid #02B7BE;*/
    border-right: 200px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.8s ease;
}

#triangle-bottomleft:hover {
    border-bottom: 200px solid #53c4d1;
    /*border-bottom: 200px solid #00CBD3;*/
}

.triangle-and-text {
    color: white;
    transition: all 0.8s ease;
}

.triangle-and-text:hover {
    color: white;
}

.triangle-text {
    pointer-events: none;
    cursor: default;
}

.scene-first {
    height: 900px;
    width: 100%;
}

.viewer-first {
    height: 900px;
    /*max-width: 600px;*/
    background-repeat: no-repeat;
    background-position: 0 0;
    /*transform: translateY(-50px);*/
    margin: 0 auto;
}

.scene-studio {
    height: 600px;
    width: 100%;
}

.viewer-studio {
    height: 600px;
    /*max-width: 600px;*/
    background-repeat: no-repeat;
    background-position: 0 0;
    /*transform: translateY(-50px);*/
    margin: 0 auto;
}

.viewer-first { background-image: url('/images-lava/attitude-turn.jpg'); width: 1420.05px; }
.viewer-studio {background-image: url('/images-lava/animate-studio-600.jpg'); width: 898.75px; }
/*.viewer-studio {background-image: url('/images-lava/animate-studio-900.jpg'); width: 1348.25px; }*/

#footer-map {
    min-height: 100vh;
    max-height: 100% !important;
    z-index: 3 !important;
    position: relative;
}

.footer-links {
    text-decoration: none;
    color: white;
}

.footer-links:hover {
    color: #747474 !important;
}

.point-at-me {
    cursor: pointer;
}

/* mountain shape dividers */

.custom-shape-divider-bottom-1648525246 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1648525246 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
}

.custom-shape-divider-bottom-1648525246 .shape-fill {
    fill: #FFFFFF;
}

/* mt. classes */

.custom-shape-divider-bottom-1648524823 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1648524823 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 395px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1648524823 .shape-fill {
    fill: #FFFFFF;
}

/* mt footer */

.custom-shape-divider-bottom-1648590329 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1648590329 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 399px;
}

.custom-shape-divider-bottom-1648590329 .shape-fill {
    fill: #FFFFFF;
}

/* mt. center */
.custom-shape-divider-bottom-1663852805 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663852805 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 101px;
}

.custom-shape-divider-bottom-1663852805 .shape-fill {
    fill: #FFFFFF;
}

/* center large */

.custom-shape-divider-bottom-1663856371 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663856371 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 165px;
}

.custom-shape-divider-bottom-1663856371 .shape-fill {
    fill: #FFFFFF;
}

/* small left point */

.custom-shape-divider-bottom-1663853988 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663853988 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 67px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1663853988 .shape-fill {
    fill: #FFFFFF;
}

/* small right point */

.custom-shape-divider-bottom-1663854216 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663854216 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
}

.custom-shape-divider-bottom-1663854216 .shape-fill {
    fill: #FFFFFF;
}

/* mt slight right */
.custom-shape-divider-bottom-1663856745 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663856745 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 118px;
}

.custom-shape-divider-bottom-1663856745 .shape-fill {
    fill: #FFFFFF;
}

/* end mountain shape dividers */


/**************************** ********************************/
/**************************** SIDE PAGES ********************************/
/**************************** ********************************/

.banner-wrap {
    height: 415px;
    /*height: 315px;*/
}

.banner {
    height: 100%;
    background-image: url(/images/header-all-pages.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outline-shade-1 { border: 2px solid RGBA(93, 234, 239, 1); transition: 0.8s background ease; }
.outline-shade-2 { border: 2px solid RGBA(0, 203, 211, 1); transition: 0.8s background ease; }
.outline-shade-3 { border: 2px solid RGBA(2, 183, 190, 1); transition: 0.8s background ease; }
.outline-shade-4 { border: 2px solid RGBA(101, 102, 102, 1); transition: 0.8s background ease; }
.outline-shade-5 { border: 2px solid RGBA(45, 43, 46, 1); transition: 0.8s background ease; }

.fill-shade-1 { background: RGBA(93, 234, 239, 1); transition: 0.8s background ease; }
.fill-shade-1:hover { background: RGBA(93, 234, 239, 0.7); }
.fill-shade-2 { background: RGBA(0, 203, 211, 1); transition: 0.8s background ease; }
.fill-shade-2:hover { background: RGBA(0, 203, 211, 0.7); }
.fill-shade-3 { background: RGBA(2, 183, 190, 1); transition: 0.8s background ease; }
.fill-shade-3:hover { background: RGBA(2, 183, 190, 0.7); }
.fill-shade-4 { background: RGBA(101, 102, 102, 1); transition: 0.8s background ease; }
.fill-shade-4:hover { background: RGBA(101, 102, 102, 0.7); }
.fill-shade-5 { background: RGBA(45, 43, 46, 1); transition: 0.8s background ease; }
.fill-shade-5:hover { background: RGBA(45, 43, 46, 0.7); }
